@model IEnumerable<AcademicXXI.ViewModel.ViewModel.StudentViewModel>

@{
    ViewBag.Title = "Estudiantes";
}


<h2>Listado de estudiantes</h2>
<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            @using(Ajax.BeginForm("Filter","Student",new AjaxOptions {
                                            HttpMethod="POST",
                                            UpdateTargetId = "DisplayData",
                                            InsertionMode = InsertionMode.Replace}, new {@id="frmFilter" })){ 
            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                    <input type="search" class="form-control" id="search" name="search" placeholder="Buscar estudiante">
                </div>
            </div>
            <div class="col-md-9">
                <input type="submit" value="Buscar" class="btn btn-success" />
            </div>
            }
        </div>
    </div>
    <div id="DisplayData" class="table-responsive">
       
            @Html.Partial("_DisplayAllStudentList",Model)
       

    </div>
</div>
@section scripts{
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}