@using Academic.Web.Helpers.Alerts
<br/>
@if (TempData.GetAlerts().Any())
{

        foreach(Alert alert in TempData.GetAlerts())
        {
            <div class="alert @alert.AlertClass alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.Raw(alert.Message)
            </div>
        }
}
