@model IEnumerable<AcademicXXI.ViewModel.ViewModel.SemesterViewModel>

@{
    ViewBag.Title = "Semestres Académico";
}
@section css{
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    
}
<h2>Semestres Académico</h2>
<hr />


<div id="DisplayData">
    @Html.Partial("_DisplayAllSemestres",Model)

</div>




@section scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">

    $(document).on("ready", function () {
        $("#tblSemesters").dataTable({
            language: {
                search: "Buscar",
                paginate: {
                    first: "Primer",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                infoFiltered: "(filtrado de un total de _MAX_ registros)",
                lengthMenu: "Mostrar _MENU_ registros",
                zeroRecords: "No se encontraron resultados",
                EmptyTable: "Ningún dato disponible en esta tabla"
            }
        });
    });
    </script>

}
